.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.bg-info{
    background: linear-gradient(-45deg, #66cdcc 0%, #336799 100%) !important;
}
li .suggest-item .hover:hover{
    background-color: #ffffff !important;
}.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
}